body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 35px;
   line-height: 2.5;
   margin: 0;
   padding: 0;
}
<style id="compiled-css">
      span.hl { background: yellow; }
  